@import './uikit.scss';

html, body, #app {
    min-height: 100vh;
}

body {
    background-color: #ECEFF1;
}

.app-auth__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app-auth__wrapper {
    width: 640px
}
